
{% extends "base.html" %}

{% block signcontent %}


            {% load static %}
    <img src="{% static 'css/images/favicon.ico' %}"/>

      <h1>
        <span class="label label-default">{{user.username}}</span>

        <span class="label label-info"><a href="{% url 'polls:logout' %}">logout</a></span>
      </h1>

     <div class="page-header">
        <h1>投票</h1>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              最近五个投票
            </a>
			
			{% if latest_question_list %}
    
				{% for question in latest_question_list %}
					<a href="{% url 'polls:detail' question.id %}" class="list-group-item">{{ question.question_text }}</a>
				{% endfor %}
   
			{% else %}
				<p>No polls are available.</p>
			{% endif %}

          </div>
        </div><!-- /.col-sm-4 -->

      </div>
	  
	  
	       <div class="page-header">
        <h1>评分</h1>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              最近五个评分
            </a>
			
			{% if latest_gradequestion_list %}
    
				{% for question in latest_gradequestion_list %}
					<a href="{% url 'polls:detail' question.id %}" class="list-group-item">{{ question.question_text }}</a>
				{% endfor %}
   
			{% else %}
				<p>No polls are available.</p>
			{% endif %}

          </div>
        </div><!-- /.col-sm-4 -->

      </div>
            <div class="row">

        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              参考文献
            </a>
            
            {% if doc_list %}
    
                {% for doc in doc_list %}
                    <a href="{% url 'polls:readdoc' doc.id %}" class="list-group-item">{{ doc.upload.url }}</a>
                {% endfor %}
   
            {% else %}
                <p>No polls are available.</p>
            {% endif %}

          </div>
        </div><!-- /.col-sm-4 -->

      </div>






{% endblock %}

